---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Agenda from '../components/Agenda.astro';
import Partners from '../components/Partners.astro';
---

<Layout title="Bière Sécu Rennes">
	<main class="space-y-24 pb-24">
		<Hero />
		<Agenda />
		<Partners />
	</main>
</Layout>
